.setborder{
    position: absolute;
    top: 20%;
    height: 45vh;
    left: 30%;
    width: 40%; 
    border: 1px solid black;
    margin: 10px 20px;
}
.flexbasing{
    display: flex;
    flex-basis: 50%;
}
.qrcodeimage{
    width: 80%;
    height: 45vh;
}
.paymentbutton{
    position: absolute;
    display: flex;
    bottom: 100px;
    left: 450px;
}
.placeorderbutton{
    margin-top: 10px;
    color:black;
    background-color: aqua;
    border-radius: 10px;
    height: 30px;
    width: 130px;
    cursor: pointer;
    
}
.placeorderbutton:hover{
    color: aqua;
    background-color: white;
}