.navbar{
    height: 10vh;
    width: 100%;
    background: rgb(28, 29, 29);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logo{
    color: rgb(101, 129, 212);
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
}
.nav-items{
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content:flex-end ;
    margin-right: 2rem;
}
.nav-item{
    display: flex;
    align-items: center;
    height: 3cm;
}
.nav-item a{
   
    text-decoration: none;
    color:white;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
}
.nav-item a:hover{
    background: cadetblue;
}
